.lbtn {
  @apply focus:outline-none inline-block cursor-pointer rounded-md border-2 border-gray-900  bg-gray-900 py-2 px-6 text-base font-medium capitalize leading-6 tracking-wide text-gray-50 shadow-lg hover:border-opacity-10 hover:bg-opacity-80 dark:border-gray-50 dark:bg-gray-50 dark:text-gray-900;
}
.lbtndark {
  @apply focus:outline-none inline-block cursor-pointer rounded-md border-2 border-gray-50  bg-gray-50 py-2 px-6 text-base font-medium capitalize leading-6 tracking-wide text-gray-900 shadow-lg hover:border-opacity-10 hover:bg-opacity-80 dark:border-gray-900 dark:bg-gray-900 dark:text-gray-50;
}

.sbtn {
  @apply focus:outline-none inline-block cursor-pointer rounded-md border border-gray-900  bg-gray-900 py-2 px-4 text-xs font-medium capitalize leading-6 tracking-wide text-gray-50 shadow-lg hover:border-opacity-10 hover:bg-opacity-80 dark:border-gray-50 dark:bg-gray-50 dark:text-gray-900;
}

.fullbtn {
  @apply focus:outline-none inline-block w-full cursor-pointer rounded-md border  border-gray-900 bg-gray-900 py-2 text-xs font-medium capitalize leading-6 tracking-wide text-gray-50 shadow-lg hover:border-opacity-10 hover:bg-opacity-80 dark:border-gray-50 dark:bg-gray-50 dark:text-gray-900;
}

.signin {
  @apply mx-auto mt-10 max-w-lg rounded-md border border-gray-900 border-opacity-5 bg-gray-100 px-12 py-10 dark:border-gray-50 dark:border-opacity-10 dark:bg-gray-800;
  animation: movingshadow 8s infinite;
}

@keyframes movingshadow {
  0% {
    box-shadow: -40px 3px 100px -100px var(--accentShadow),
      40px -3px 100px -100px var(--accentShadow2);
  }
  50% {
    box-shadow: -40px 40px 120px -100px var(--accentShadow),
      40px -40px 120px -100px var(--accentShadow2);
  }

  100% {
    box-shadow: -40px 3px 100px -100px var(--accentShadow),
      40px -3px 100px -100px var(--accentShadow2);
  }
}

/* Box - shadow  {right / left} {up / down} {blur} {in / out} */
