@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --accentShadow: rgb(173, 8, 173);
    --accentShadow2: rgb(14, 151, 151);
    --my-gray-50: #fff;
    --my-gray-100: #fafafa;
    --my-gray-200: #eaeaea;
    --my-gray-300: #999;
    --my-icon-gray: #111;
    --code-colour-1: #5d5d5f;
    --code-colour-2: #a9a9aa;
    --code-colour-3: #da70d6;
    --code-colour-4: #e2777a;
    --code-colour-5: #cc618e;
    --code-colour-6: #437aed;
    --code-colour-7: #cd6069;
    --code-colour-8: #7c4df6;
    --code-colour-9: #53a053;
    --code-colour-10: #727376;
    --code-colour-11: green;
    --accent-colour: theme(colors.primary);
  }

  .dark {
    --accentShadow: #f0f;
    --accentShadow2: #0ff;
    --my-gray-50: #111;
    --my-gray-100: #111;
    --my-gray-200: #333;
    --my-gray-300: #444;
    --my-icon-gray: #fafafa;
    --code-colour-1: #e3e3e3;
    --code-colour-2: #848bbd;
    --code-colour-3: #ffd700;
    --code-colour-4: #e2777a;
    --code-colour-5: #6196cc;
    --code-colour-6: #36f9f6;
    --code-colour-7: #2ee2fa;
    --code-colour-8: #72f1b8;
    --code-colour-9: #ff8b39;
    --code-colour-10: #f0eff1;
    --code-colour-11: rgb(0, 13, 128);
    --accent-colour: theme(colors.primary);
  }
}

pre {
  @apply rounded-lg !px-0;
}

code {
  @apply text-sm !leading-loose md:text-base;
}

pre > code {
  counter-reset: line;
}

code[data-theme*=' '],
code[data-theme*=' '] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

@media (prefers-color-scheme: dark) {
  code[data-theme*=' '],
  code[data-theme*=' '] span {
    color: var(--shiki-dark);
    background-color: red;
  }
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply mr-4 inline-block w-4 text-right text-default-500;
}

pre [data-line] {
  @apply border-l-2 border-l-transparent px-4;
}

[data-highlighted-line] {
  @apply bg-default-100;
}

[data-highlighted-chars] {
  @apply rounded bg-default-600/50;
  box-shadow: 0 0 0 4px rgb(82 82 91 / 0.5);
}

[data-chars-id] {
  @apply border-b-2 p-1 shadow-none;
}

[data-chars-id] span {
  @apply !text-inherit;
}

[data-chars-id='v'] {
  @apply border-b-pink-600 bg-rose-800/50 font-bold !text-pink-300;
}

[data-chars-id='s'] {
  @apply border-b-yellow-600 bg-yellow-800/50 font-bold !text-yellow-300;
}

[data-chars-id='i'] {
  @apply border-b-purple-600 bg-purple-800/50 font-bold !text-purple-200;
}

[data-rehype-pretty-code-title] {
  @apply rounded-t-lg bg-default-700 px-3 py-2 text-sm font-semibold text-default-200;
}

figure[data-rehype-pretty-code-figure]:has(> [data-rehype-pretty-code-title])
  pre {
  @apply !rounded-t-none;
}

figure {
  @apply mb-6 mt-1;
}
pre,
code,
figure {
  @apply overflow-x-auto;
}
